<%- include('head') %>
  <style>
    .carousel,
    .carousel-inner,
    .carousel-item,
    img {
      height: 100%;
    }

    .carousel-item img {
      object-fit: cover;
    }

    .zind {
      z-index: 1;
    }

    .clg_img {
      width: 200px;
      height: 200px;
    }

    .clg_img img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }

    .btnty {
      background: #1eb2a6;
    }

    .btn:hover {
      background: #1eb2a6;
    }

    .btnbo {
      border: 1px solid #1eb2a6;
    }

    .nav-link.active {
      border-bottom: 2px solid #1eb2a6 !important;
      color: #1eb2a6 !important;

    }

    .nav-link {
      color: rgba(33, 37, 41, .75);
      border: 0px !important;
    }

    .nav-link:hover {
      border: 0px;
      color: black;
    }

    .courses {
      background: linear-gradient(360deg, #fffcfc 14%, transparent), url('<%= process.env.APP_URL %>nd/images/clg_1.jpg');
      background-size: cover;
    }

    .hov {
      opacity: 0;
    }

    .galp:hover .hov {
      opacity: 1;
      transition: all .3s ease-in;
    }
  </style>
  <section class="hero-wrap hero-wrap-2 positon-relative">
    <div class="position-absolute zind" style="top: 31%;">
      <p class="breadcrumbs mx-3 m-2">
        <span class="me-2"><a href="/"><i class="fa fa-home fs-5 mx-2" aria-hidden="true"></i>Home <i
              class="fa fa-chevron-right"></i></a></span>
        <span>
          <%= college.shortName %> <i class="fa fa-chevron-right"></i>
        </span>
      </p>
    </div>
    <div class="position-absolute zind end-0 bottom-0"> <button class="border p-2 bg-gray"><i class="fa fa-rocket"
          aria-hidden="true"></i> Apply Now</button><button class="border p-2 bg-gray"><i class="fa fa-download"
          aria-hidden="true"></i> Download Brochure</button>
    </div>
    <div class="position-absolute zind galp" style="height: 100px;
    width: 100px;
    top: 50%;
    left: 2%; box-shadow: 0px 0px 0px 5px #e3e3e3;">
      <a href="#">
        <div id="carouselExampleSlidesOnly" class="carousel slide positon-relative" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <div class="position-absolute bg-dark top-0 start-0 p-2 opacity-50">
            <p class="m-0 text-white">3</p>
          </div>
          <div class="position-absolute bottom-0 end-0 p-1 w-100  btnty hov">
            <p class="m-0 text-white">view Gallery</p>
          </div>
        </div>
      </a>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= process.env.APP_URL %>nd/images/bg_2.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

  </section>
  <!-- college detail -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="clg_img rounded-circle overflow-hidden border border-4 border-gray">
          <img src="<%= process.env.APP_URL %><%= college.clgLogo %>" alt="">
        </div>
      </div>
      <div class="col-6 py-3">
        <h3>
          <%= college.name %>
            <%= college.shortName %>
        </h3>
        <p>
          <%= college.city.cityName %>, <%= college.state.stateName %>
        </p>
        <div class="short_dec">
          <h5>Description</h5>
          <p>
            <%= college.description %>
          </p>
        </div>
        <div class="d-flex">
          <button class="btnty btn text-white"> compare</button>
          <button class="btnbo btn mx-2"> contact</button>
        </div>

      </div>
      <div class="col-3">
        <div class="shadow-sm text-center p-3">
          <h5>Rate This College</h5>
          <div class="m-auto">
            <i class="fa fa-star mx-1 fs-5" aria-hidden="true"></i>
            <i class="fa fa-star mx-1 fs-5" aria-hidden="true"></i>
            <i class="fa fa-star mx-1 fs-5" aria-hidden="true"></i>
            <i class="fa fa-star mx-1 fs-5" aria-hidden="true"></i>
            <i class="fa fa-star mx-1 fs-5" aria-hidden="true"></i>
          </div>
          <p>The more you express, greater is the extent to which you can help other aspiring students.
            Your Experience is extremely valuable. </p>
          <button class="btnty btn text-white"> Write a Review</button>
        </div>
      </div>
    </div>

  </div>
  <!-- all tabs -->
  <div class="all_tabs container ">
    <div style="margin: 6rem auto;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button"
            role="tab" aria-controls="about" aria-selected="true">About</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="gallery-tab" data-bs-toggle="tab" data-bs-target="#gallery" type="button"
            role="tab" aria-controls="gallery" aria-selected="false">Gallery</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="courfee-tab" data-bs-toggle="tab" data-bs-target="#courfee" type="button"
            role="tab" aria-controls="courfee" aria-selected="false">Courses & Fees</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab"
            aria-controls="test" aria-selected="false">Testimonials</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="alumni-tab" data-bs-toggle="tab" data-bs-target="#alumni" type="button"
            role="tab" aria-controls="alumni" aria-selected="false">Alumni</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="brochure-tab" data-bs-toggle="tab" data-bs-target="#brochure" type="button"
            role="tab" aria-controls="brochure" aria-selected="false">Brochure</button>
        </li> -->
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h3>Indian Institute of Technology, Chennai </h3>
          <p>
            <%= college.description %>
          </p>
        </div>
        <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
          <div class="row gy-4 my-4 my-md-0">
            <% gallery.forEach((image, index)=> { %>
              <div class="col-12 col-md-<%= index % 2 === 0 ? '5' : '6' %>">
                <div style="height: 168px">
                  <img src="<%= process.env.APP_URL %><%= image.image %>" class="card-img-top w-100 h-100"
                    alt="Gallery image <%= index + 1 %>" />
                </div>
              </div>
              <% }); %>
          </div>
        </div>
        <div class="tab-pane fade" id="courfee" role="tabpanel" aria-labelledby="courfee-tab">
          <div class="text-center py-5 p-2 p-md-5" id="courses_fees">
            <h1 class="fw-bold">Other Course Specialisation in same college</h1>
            <h5>
              Course Specialisation | <%= college.name %> [<%= college.shortName %>]-
                  <%= college.city.cityName %>, <%= college.state.stateName %>
            </h5>
            <div class="table-responsive mt-4">
              <table class="table table-hover">
                <thead>
                  <tr class="text-center">
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Course Name
                    </th>
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Course Specialisation
                    </th>
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Course Fee
                    </th>
                  </tr>
                </thead>
                <% courses.forEach(function(course) { %>
                  <tbody class="border-1">
                    <tr>
                      <td class="border-0">3<%= course.parentCourse %>
                      </td>
                      <td class="border-0">3<%= course.subCourse %>
                      </td>
                      <td class="border-0">Rs <%= course.fee %>
                      </td>
                    </tr>
                  </tbody>
                  <% }); %>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="courfee-tab">
          <div class="row">
            <h1 class="fw-bold text-center">
              Testimonials
            </h1>
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <div class="carousel-testimony">
                <% testimonials.forEach(function(testimonial) { %>
                  <div class="item">
                    <div class="testimony-wrap">
                      <div class="text">
                        <div class="d-flex align-items-center mb-4">
                          <div class="user-img"
                            style="background-image: url('<%=process.env.APP_URL%><%= testimonial.profileImage %>')">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa fa-quote-left"></span></div>
                          </div>
                          <div class="ps-3 tx">
                            <p class="name">
                              <%= testimonial.name %>
                            </p>
                            <span class="position">
                              <%= testimonial.designation %>
                            </span>
                          </div>
                        </div>
                        <p class="mb-4 msg">
                          <%= testimonial.message %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="alumni" role="tabpanel" aria-labelledby="alumni-tab">
          <div class="py-5 p-2 p-md-5" id="alumnus">
            <h3 class="fw-bold">Alumnus</h3>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr class="text-center">
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Full Name
                    </th>
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Passing Year
                    </th>
                    <th scope="col" class="border border-1 text-white" style="background-color: #1eb2a6">
                      Placement
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% alumni.forEach(function(alumnus) { %>
                    <tr class="text-center">
                      <td class="border border-1">
                        <%= alumnus.name %>
                      </td>
                      <td class="border border-1">
                        <%= alumnus.batch %>
                      </td>
                      <td class="border border-1">
                        <%= alumnus.package %>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">contact</div>
          <div class="tab-pane fade" id="brochure" role="tabpanel" aria-labelledby="brochure-tab">brochure</div> -->
        </div>
      </div>
    </div>

    <!-- check elligibility -->

    <div class="container-fluid p-5 " style="background-color: #1eb2a6; margin: 3rem 0;" id="choose_college">
      <h3 class="text-center fw-bold">Check Eligibility</h3>
      <div class="row justify-content-center">
        <div class="input-group mb-3 mx-2 col-md-5">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control m-0 shadow-none rounded-end-2" placeholder="Full Name"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 mx-2 col-md-5">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
          <input type="number" class="form-control m-0 shadow-none rounded-end-2" placeholder="Phone Number"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 mx-2 col-md-5">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
          <input type="email" class="form-control m-0 shadow-none rounded-end-2" placeholder="Email"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 mx-2 col-md-5">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-book"></i></span>
          <input type="text" class="form-control m-0 shadow-none rounded-end-2" placeholder="Course"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 mx-2 col-md-5">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-graduation-cap"></i></span>
          <input type="text" class="form-control m-0 shadow-none rounded-end-2"
            placeholder="Marks (in Percentage /C.G.P.A)" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-5 mx-2 mb-3"><button type="button" class="btn text-white btn-lg col-12 col-md-5" style="
          width: 100%;
          height: 100%;
          background-color: #002f26;
        " onclick="document.getElementById('choose_college').scrollIntoView({ behavior: 'smooth',block:'center' });">
            Check
          </button></div>
      </div>

    </div>
    <!-- top colleges -->
    <section class="ftco-section courses-section ftco-no-pb overflow-hidden py-5 my-3">
      <div class="container">
        <div class="row justify-content-center pb-4">
          <div class="col-md-10 text-center heading-section" data-aos="fade-up">
            <span class="subheading">Our Courses</span>
            <h2 class="mb-5">Explore Our Popular colleges</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="carousel-courses">
              <div class="item ">
                <div class="courses p-3 text-center">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="icon rounded-circle overflow-hidden bg-white"><img
                        src="<%= process.env.APP_URL %>nd/images/clg_logo.webp" alt=""
                        style="height: 100%; width: 100%; object-fit: none;"> </div>
                    <div class="ps-0 text">
                      <h2>Basic Fundamentals for Software Engineering</h2>
                      <p class="rate">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(5.0)</span>
                      </p>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
                  </div>
                </div>
              </div>
              <div class="item ">
                <div class="courses p-3 text-center shadow-sm">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="icon rounded-circle overflow-hidden bg-white"><img
                        src="<%= process.env.APP_URL %>nd/images/clg_logo.webp" alt=""
                        style="height: 100%; width: 100%; object-fit: none;"> </div>
                    <div class="ps-0 text">
                      <h2>Basic Fundamentals for Software Engineering</h2>
                      <p class="rate">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(5.0)</span>
                      </p>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
                  </div>
                </div>
              </div>
              <div class="item ">
                <div class="courses p-3 text-center shadow-sm">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="icon rounded-circle overflow-hidden bg-white"><img
                        src="<%= process.env.APP_URL %>nd/images/clg_logo.webp" alt=""
                        style="height: 100%; width: 100%; object-fit: none;"> </div>
                    <div class="ps-0 text">
                      <h2>Basic Fundamentals for Software Engineering</h2>
                      <p class="rate">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(5.0)</span>
                      </p>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- top courses -->
    <section class="ftco-section overflow-hidden py-5 my-3">
      <div class="container-xl">
        <div class="row justify-content-center">
          <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
            <span class="subheading">Courses</span>
            <h2 class="mb-4">Browse Popular Courses</h2>
          </div>
        </div>
        <div class="row g-lg-2 justify-content-center">
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon"><span class="flaticon-design"></span></div>
              <div class="text">
                <h2>MBA</h2>
                <span>25 Courses</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon">
                <span class="flaticon-paint-palette"></span>
              </div>
              <div class="text">
                <h2>B.Tech</h2>
                <span>25 Courses</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon">
                <span class="flaticon-computer-science"></span>
              </div>
              <div class="text">
                <h2>MEDICAL</h2>
                <span>10 Courses</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon">
                <span class="flaticon-magnifying-glass"></span>
              </div>
              <div class="text">
                <h2>BCA/BBA</h2>
                <span>25 Courses</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon"><span class="flaticon-engineer"></span></div>
              <div class="text">
                <h2>MCA</h2>
                <span>25 Courses</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
            data-aos-duration="1000">
            <a href="#" class="services-2">
              <div class="icon"><span class="flaticon-algorithm"></span></div>
              <div class="text">
                <h2>M.Tech</h2>
                <span>25 Courses</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>


    <%- include('foot') %>