<%- include('./header.ejs') %>

<!-- partial -->
<div class="main-panel text-capitalize">
  <div class="content-wrapper">
    <!-- notification message -->
    <% if (message) { %>
    <div
      class="alert alert-dismissible fade show alert-<%= message.type %>"
      role="alert"
    >
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="alert"
        aria-label="close"
      ></button>
      <strong><%= message.message %></strong>
    </div>
    <% } %>
    <!-- notification message -->
    <div class="row grid-margin">
      <nav class="">
        <ul class="nav nav-tabs" id="myTabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="/admin/addColleges/next?collegeId=<%= college._id %>"
              data-tab="#tab1"
              >Course</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/admin/addColleges/next/gallery?collegeId=<%= college._id %>"
              data-tab="#tab2"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/admin/addColleges/next/alumni?collegeId=<%= college._id %>"
              data-tab="#tab3"
              >Alumni</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/addColleges/next/testimonial?collegeId=<%= college._id %>" data-tab="#tab4"
              >Testimonial</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/others" data-tab="#tab5">Others</a>
          </li> -->
        </ul>
      </nav>
      <!--  -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title fs-3 py-2">
              <%= college.name %> (<%= college.shortName %>)
            </h4>
            <h4 class="card-title fs-4">College Testimonial</h4>
            <form
              action="/admin/addColleges/next/testimonial?collegeId=<%= college._id %>"
              method="POST"
              class="cmxform"
            >
              <fieldset>
                <div class="form-group">
                  <label for="cname">Full Name</label>
                  <input
                    id="cname"
                    class="form-control"
                    name="name"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="cdesignation">Designation</label>
                  <input
                    id="cdesignation"
                    class="form-control"
                    name="designation"
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <label for="cmessage">message</label>
                  <textarea
                    id="cmessage"
                    class="form-control"
                    name="message"
                    required
                  >
                  </textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
              </fieldset>
            </form>
            <hr />
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Alumni Name</th>
                        <th>Designation</th>
                        <th>Message</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% testimonials.forEach(function(testimonial, index) { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= testimonial.name %></td>
                        <td><%= testimonial.designation %></td>
                        <td><%= testimonial.message %></td>
                        <td>
                          <a
                            href="/admin/addColleges/next/testimonial/edit/<%= testimonial._id %>/<%= college._id %>"
                            class="btn btn-outline-primary"
                          >
                            <i class="fa-solid fa-pen-to-square"></i>
                          </a>
                          <form
                            class="delete-form"
                            action="/admin/addColleges/next/testimonial/<%= testimonial._id %>/<%= college._id %>?_method=DELETE"
                            method="POST"
                          >
                            <button
                              class="btn btn-outline-danger"
                              type="submit"
                              onclick="return confirm('Are you sure you want to delete this alumnus?')"
                            >
                              <i class="fa-solid fa-trash"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./footer.ejs') %>
