<%- include('./header.ejs') %>

<!-- partial -->
<div class="main-panel text-capitalize">
  <div class="content-wrapper">
    <!-- notification message -->
    <% if(message){ %>
    <div
      class="alert alert-dismissible fade show alert-<%= message.type %>"
      role="alert"
    >
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="alert"
        aria-label="close"
      ></button>
      <strong><%= message.message %></strong>
    </div>
    <% } %>
    <!-- notification message -->
    <div class="row grid-margin">
      <!--  -->
      <nav class="">
        <ul class="nav nav-tabs" id="myTabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="/addColleges/next?collegeId=<%= college._id %>"
              data-tab="#tab1"
              >Course</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/addColleges/next/gallery?collegeId=<%= college._id %>"
              data-tab="#tab2"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/addColleges/next/alumni?collegeId=<%= college._id %>"
              data-tab="#tab3"
              >Alumni</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial" data-tab="#tab4"
              >Testimonial</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/others" data-tab="#tab5">Others</a>
          </li>
        </ul>
      </nav>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const tabs = document.querySelectorAll("#myTabs .nav-link");
          tabs.forEach(function (tab) {
            tab.addEventListener("click", function (event) {
              const targetTab = this.getAttribute("data-tab");
              tabs.forEach(function (tab) {
                tab.classList.remove("active");
              });
              this.classList.add("active");
              window.location.href = this.getAttribute("href");
              event.preventDefault();
            });
          });
          const currentUrl = window.location.pathname;
          tabs.forEach(function (tab) {
            if (tab.getAttribute("href") === currentUrl) {
              tab.classList.add("active");
            }
          });
        });
      </script>
      <!--  -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title fs-3 py-2">
              <%= college.name %> (<%= college.shortName %>)
            </h4>
            <form class="cmxform" method="post">
              <fieldset>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="course-select">Select Course</label>
                      <select
                        id="course-select"
                        class="form-select p-3"
                        name="courseSelect"
                        onchange="coursea(this)"
                      >
                        <option>Select Course</option>
                        <% courses.map((course) => { %>
                        <option class="p-3" value="<%= course._id %>">
                          <%= course.name %>
                        </option>
                        <% })%>
                        <option>Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="addCourse" class="col-form-label py-0"
                        >Add New Course</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="addCourse"
                        name="addCourse"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="courseDuration" class="col-form-label py-0"
                        >Course Duration</label
                      >
                      <input
                        type="number"
                        name="duration"
                        placeholder="Course Duration in Years"
                        class="form-control"
                        id="courseDuration"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div id="feebox" class="row">
                  <div class="col-md-5">
                    <div class="form-group row m-0">
                      <label class="col-form-label py-0">Add Semester</label>
                      <input type="text" class="form-control" name="fee[0][]" />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group row">
                      <label class="col-form-label py-0"
                        >Add Fee / semester</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="fee[0][]"
                      />
                    </div>
                  </div>
                  <div class="col-md-2 d-flex align-items-center">
                    <button
                      class="btn btn-primary"
                      type="button"
                      onclick="feefun()"
                    >
                      ADD +
                    </button>
                  </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
                <a href="/addColleges/next/gallery?collegeId=<%= college._id %>"
                  ><button type="button" class="btn btn-primary">
                    Next
                  </button></a
                >
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-3">
        <div class="row">
          <% fee.forEach(fe => { %>
          <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center"><%= fe.courseName %></h5>
                <h6 class="text-center">Total Fee: ₹ <%= fe.totalFee %></h6>
                <div class="d-flex justify-content-around">
                  <a
                    href="/editCollegeCouresView/<%= fe._id %>"
                    class="btn me-2"
                  >
                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                  </a>
                  <form
                    action="/deletecolleges/<%= college._id %>/courses/<%= fe._id %>/?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn me-2">
                      <i class="fa-solid fa-trash text-danger"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
  <%- include('./footer.ejs') %>
  <script>
    var yo = 1;
    function feefun(id = 0) {
      if (id == 0) {
        $("#feebox").append(
          `<div class="row" id="y_` +
            yo +
            `">
                  <div class="col-md-5">
                    <div class="form-group row">
                      <label class="col-form-label py-0"
                        >Add Semester</label>
                        <input type="text" class="form-control" name="fee[` +
            yo +
            `][]" />
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group row">
                      <label class="col-form-label py-0">Add Fee / semester</label>
                        <input type="text" class="form-control" name="fee[` +
            yo +
            `][]" />
                    </div>
                  </div>
                  <div class="col-md-2 d-flex align-items-center">
                    <button class="btn btn-primary" type="button" onclick="feefun('` +
            yo +
            `')">Minus -</button>
                  </div>
                </div>`
        );
        yo++;
      } else {
        $("#y_" + id).remove();
      }
    }
    function coursea(v) {
      var val = $(v).val();
      if (val == "Other") {
        $("#addCourse").removeAttr("disabled");
        $("#courseDuration").removeAttr("disabled");
      } else {
        $("#addCourse").prop("disabled", true);
        $("#courseDuration").prop("disabled", true);
      }
    }
  </script>
</div>
