<%- include('./header.ejs') %>

<div class="main-panel text-capitalize">
  <div class="content-wrapper">
    <% if (message) { %>
    <div
      class="alert alert-dismissible fade show alert-<%= message.type %>"
      role="alert"
    >
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="alert"
        aria-label="close"
      ></button>
      <strong><%= message.message %></strong>
    </div>
    <% } %>
    <div class="row grid-margin">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title fs-3">Add New Website FAQs</h4>
            <form
              class="cmxform"
              method="post"
              action="/admin/addColleges/next/FAQs/<%= faq._id %>/<%= college._id %>"
            >
              <fieldset>
                <div class="form-group">
                  <label for="cquestion">Add Question</label>
                  <input
                    id="cquestion"
                    class="form-control"
                    type="text"
                    name="question"
                    autocomplete="off"
                    value="<%= faq.question %>"
                  />
                </div>
                <div class="form-group">
                  <label for="canswer">Add Answer</label>
                  <textarea
                    id="canswer"
                    class="form-control"
                    name="answer"
                    required
                  >
<%= faq.answer %></textarea
                  >
                </div>
                <input class="btn btn-primary" type="submit" value="Update" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./footer.ejs') %>
