<%- include('head') %>
<div class="container-fluid">
  <div class="border border-2 rounded-3 p-3">
    <div
      class="d-flex col-12 flex-column flex-md-row justify-content-evenly my-2 align-items-center"
    >
      <div
        class="col-12 col-md-5 d-flex align-content-center justify-content-center"
        style="height: 330px"
      >
        <img
          src="<%= process.env.APP_URL %><%= blog.image %>"
          class="border border-1 img-fluid rounded-4"
          alt="imgae"
        />
      </div>
      <div class="mx-2 p-2 col-12 col-md-7">
        <h2 class="my-3"><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <div class="d-flex justify-content-between">
          <div>
            <p style="color: #002f26">
              Published on:
              <span style="color: #f7931e">
                <%= blog.createdAt.toDateString() %>
              </span>
            </p>
            <p style="color: #002f26">
              Publisher Name:
              <span style="color: #f7931e"> <%= blog.author %> </span>
            </p>
          </div>
          <div class="px-5 d-flex">
            <i
              class="fa-solid fa-share-from-square mx-1 fs-4"
              style="cursor: pointer"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="p-5">
      <p><%= blog.title %> :</p>
      <p><%= blog.description %></p>
    </div>
    <hr />

    <div class="container">
      <h1 class="text-decoration-underline mx-5 text-center">
        Suggested Posts
      </h1>
      <div class="row">
        <% suggestedBlogs.forEach((suggestedBlog) => { %>
        <div class="col-md-4 mb-3">
          <div class="mb-2" style="height: 225px">
            <img
              class="rounded-4"
              src="<%= process.env.APP_URL %><%= suggestedBlog.image %>"
              alt="image"
              width="100%"
              height="100%"
            />
          </div>
          <p class="text-wrap text-start"><%= suggestedBlog.title %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<%- include('foot') %>
