<%- include('head') %>
  <section class="hero-wrap hero-wrap-2" style="background-image: url('<%= process.env.APP_URL %>nd/images/bg_2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 pt-5 mt-5 text-center">
          <p class="breadcrumbs">
            <span class="me-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span>
            <span>All Colleges <i class="fa fa-chevron-right"></i></span>
          </p>
          <h1 class="mb-0 bread">Explore Colleges</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="ftco-section courses-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-engineer"></span></div>
              <div class="text">
                <h2>Basic Fundamentals for Software Engineering</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-design"></span></div>
              <div class="text">
                <h2>Enhancing Adobe Photoshop CC 2020 Skills</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-algorithm"></span></div>
              <div class="text">
                <h2>HTML, CSS, and Javascript for Web Developers</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url(images/author-1.jpg)"></div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url(images/author-1.jpg)"></div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
          <div class="courses">
            <div class="d-flex">
              <div class="icon"><span class="flaticon-coding"></span></div>
              <div class="text">
                <h2>Introducing to Programming with WordPress</h2>
                <p class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(5.0)</span>
                </p>
                <div class="author-wrap d-flex align-items-center">
                  <div class="img" style="background-image: url('<%= process.env.APP_URL %>nd/images/author-1.jpg')">
                  </div>
                  <span class="author">by John Smith</span>
                </div>
                <p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
              </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
              <p class="course-price mb-0">
                <span>$100 All Course</span> / <span>$15 per month</span>
              </p>
            </div>
            <div class="text-center">
              <a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="ftco-section">
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Courses</span>
          <h2 class="mb-4">Browse Popular Courses</h2>
        </div>
      </div>
      <div class="row g-lg-2 justify-content-center">
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-design"></span></div>
            <div class="text">
              <h2>UI/UX Design Courses</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <a href="#" class="services-2 active">
            <div class="icon">
              <span class="flaticon-paint-palette"></span>
            </div>
            <div class="text">
              <h2>Art &amp; Design</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon">
              <span class="flaticon-computer-science"></span>
            </div>
            <div class="text">
              <h2>Computer Science</h2>
              <span>10 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon">
              <span class="flaticon-magnifying-glass"></span>
            </div>
            <div class="text">
              <h2>History &amp; Archeologic</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-engineer"></span></div>
            <div class="text">
              <h2>Software Engineering</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-algorithm"></span></div>
            <div class="text">
              <h2>Information Software</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-dumbbell"></span></div>
            <div class="text">
              <h2>Health &amp; Fitness</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-bullhorn"></span></div>
            <div class="text">
              <h2>Marketing</h2>
              <span>15 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-vector"></span></div>
            <div class="text">
              <h2>Graphic Design</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon">
              <span class="flaticon-musical-notes"></span>
            </div>
            <div class="text">
              <h2>Music</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-calendar-1"></span></div>
            <div class="text">
              <h2>Business Administration</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="#" class="services-2">
            <div class="icon"><span class="flaticon-coding"></span></div>
            <div class="text">
              <h2>Web Management</h2>
              <span>25 Courses</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    body {
      background-color: #eee
    }

    .t-products {
      background-image: linear-gradient(to right top, #5629c0, #5625cb, #5620d5, #551ae0, #5412eb);
      color: #fff;
      border-radius: 3px
    }

    .processor {
      background-color: #fff;
      margin-top: 5px;
      border-bottom: 1px solid #eee
    }

    .brand {
      background-color: #fff;
      border-bottom: 1px solid #eee
    }

    .type {
      background-color: #fff
    }

    .product {
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      position: relative
    }

    .about span {
      color: #5629c0;
      font-size: 16px
    }

    .cart-button button {
      font-size: 12px;
      color: #fff;
      background-color: #5629c0;
      height: 38px
    }

    .cart-button button:focus,
    button:active {
      font-size: 12px;
      color: #fff;
      background-color: #5629c0;
      box-shadow: none
    }

    .product_fav i {
      line-height: 40px;
      color: #5629c0;
      font-size: 15px
    }

    .product_fav {
      display: inline-block;
      width: 36px;
      height: 39px;
      background: #FFFFFF;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      border-radius: 11%;
      text-align: center;
      cursor: pointer;
      margin-left: 3px;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease
    }

    .product_fav:hover {
      background: #5629c0
    }

    .product_fav:hover i {
      color: #fff
    }

    .about {
      margin-top: 12px
    }

    .off {
      position: absolute;
      left: 65%;
      top: 6%;
      width: 80px;
      text-align: center;
      height: 30px;
      line-height: 8px;
      border-radius: 5px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff
    }
  </style>

  <section class="container-fluid mt-5 mb-5">
    <div class="row ">
      <div class="col-md-3">
        <div class="t-products p-2">
          <h6 class="text-uppercase">Computer & Periferals</h6>
          <div class="p-lists">
            <div class="d-flex justify-content-between mt-2"> <span>Laptops</span> <span>23</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Desktops</span> <span>46</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Monitors</span> <span>13</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Mouse</span> <span>33</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Keyboard</span> <span>12</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Printer</span> <span>53</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Mobiles</span> <span>203</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>CPU</span> <span>23</span> </div>
          </div>
        </div>
        <div class="processor p-2">
          <div class="heading d-flex justify-content-between align-items-center">
            <h6 class="text-uppercase">Processor</h6> <span>--</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Intel Core i7 </label>
            </div> <span>3</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Intel Core i6 </label> </div>
            <span>4</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Intel Core i3 </label> </div>
            <span>14</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Intel Centron </label> </div>
            <span>8</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Intel Pentinum </label> </div>
            <span>14</span>
          </div>
        </div>
        <div class="brand p-2">
          <div class="heading d-flex justify-content-between align-items-center">
            <h6 class="text-uppercase">Brand</h6> <span>--</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Apple </label>
            </div> <span>13</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Asus </label> </div> <span>4</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Dell </label> </div> <span>24</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Lenovo </label> </div> <span>18</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Acer </label> </div> <span>44</span>
          </div>
        </div>
        <div class="type p-2 mb-2">
          <div class="heading d-flex justify-content-between align-items-center">
            <h6 class="text-uppercase">Type</h6> <span>--</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Hybrid </label>
            </div> <span>23</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Laptop </label> </div> <span>24</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Desktop </label> </div> <span>14</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Touch </label> </div> <span>28</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                checked> <label class="form-check-label" for="flexCheckChecked"> Tablets </label> </div> <span>44</span>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row g-2">
          <div class="col-md-12 mb-4">
            <div class="product py-4"> <span class="off bg-success">-25% OFF</span>
              <div class="text-center"> <img src="https://i.imgur.com/nOFet9u.jpg" width="200"> </div>
              <div class="about text-center">
                <h5>XRD Active Shoes</h5> <span>$1,999.99</span>
              </div>
              <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center"> <button
                  class="btn btn-primary text-uppercase">Add to cart</button>
                <div class="add"> <span class="product_fav"><i class="fa fa-heart-o"></i></span> <span
                    class="product_fav"><i class="fa fa-opencart"></i></span> </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="product py-4"> <span class="off bg-success">-25% OFF</span>
              <div class="text-center"> <img src="https://i.imgur.com/nOFet9u.jpg" width="200"> </div>
              <div class="about text-center">
                <h5>XRD Active Shoes</h5> <span>$1,999.99</span>
              </div>
              <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center"> <button
                  class="btn btn-primary text-uppercase">Add to cart</button>
                <div class="add"> <span class="product_fav"><i class="fa fa-heart-o"></i></span> <span
                    class="product_fav"><i class="fa fa-opencart"></i></span> </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="product py-4"> <span class="off bg-success">-25% OFF</span>
              <div class="text-center"> <img src="https://i.imgur.com/nOFet9u.jpg" width="200"> </div>
              <div class="about text-center">
                <h5>XRD Active Shoes</h5> <span>$1,999.99</span>
              </div>
              <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center"> <button
                  class="btn btn-primary text-uppercase">Add to cart</button>
                <div class="add"> <span class="product_fav"><i class="fa fa-heart-o"></i></span> <span
                    class="product_fav"><i class="fa fa-opencart"></i></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="t-products p-2">
          <h6 class="text-uppercase">Computer & Periferals</h6>
          <div class="p-lists">
            <div class="d-flex justify-content-between mt-2"> <span>Laptops</span> <span>23</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Desktops</span> <span>46</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Monitors</span> <span>13</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Mouse</span> <span>33</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Keyboard</span> <span>12</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Printer</span> <span>53</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>Mobiles</span> <span>203</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span>CPU</span> <span>23</span> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('foot') %>