<!-- footer -->
<div class="foot overflow-hidden" style="background: #002f26 0% 0% no-repeat padding-box;
  border-radius: 50px 50px 0px 0px;">
    <div class="container my-4">
        <div class="row">
            <div class="d-none d-lg-block col-5 my-4 bgr-gr rounded-start-5 d-flex flex-column justify-content-center align-items-center px-4 py-3">
                <h3 class="text-center fw-bold fs-1">Select my college</h3>
                <div class="text-center mb-2">
                    <i class="fa-solid fa-house-chimney fs-5 me-4"></i>
                    <i class="fa-brands fa-linkedin-in fs-3 me-4"></i>
                    <i class="fa-brands fa-facebook-f fs-5 me-4"></i>
                    <i class="fa-brands fa-instagram fs-4 me-4"></i>
                    <i class="fa-brands fa-youtube fs-4 me-4"></i>
                </div>
                <p class="foot-p">
                    Choosing the right college or university can be a challenging and overwhelming task for many
                    students. That’s why our platform offers a comprehensive set of resources and tools to help students
                    make informed decisions about their higher education.
                </p>
                <p class="foot-p">Our platform provides detailed information on a wide range of colleges and
                    universities, including their academic programs, campus culture, location, and other relevant
                    factors that can impact a student’s decision-making process. We also offer interactive tools and
                    resources that allow students to compare different schools and programs based on their unique needs
                    and preferences.
                </p>
                <div class="text-center">
                    <button class="btn mb-3 text-white fs-4" style="background-color:#002F26" onclick="document.getElementById('choose_college').scrollIntoView({ behavior: 'smooth',block:'center' });">Check my eligibility</button>
                </div>
            </div>
            <div class="col-lg-7 col-12 my-4 px-3 px-md-5">
                <p class="text-white text-center">Subscribe for latest news related to college placement and exams</p>
                <div class="input-group mb-3 row p-1 bg-white rounded-pill m-auto">
                    <input type="text" class="form-control shadow-none border-0 col-9" placeholder="Email ID" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="text-white col-3 rounded-pill" style="right: 1px;background-color: #002f26;border:#002F26;" type="button" id="button-addon2">Submit</button>
                </div>
                <div class="row text-white">
                    <div class="col-6">
                        <h4>Top MBA colleges</h4>
                        <div>
                            <p>MBA Colleges in Delhi</p>
                            <p>MBA Colleges in Delhi NCR</p>
                            <p>MBA Colleges in Mumbai</p>
                            <p>MBA Colleges in Hyderabad</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Top Engineering colleges</h4>
                        <p>Engineering Colleges in Pune</p>
                        <p>Engineering Colleges in Agra</p>
                        <p>Engineering Colleges in Patna</p>
                        <p>Engineering Colleges in Delhi</p>
                    </div>
                    <div class="col-6">
                        <h4>Top Medical colleges</h4>
                        <p>Medical Colleges in Meerut</p>
                        <p>Medical Colleges in Maharastra</p>
                        <p>Medical Colleges in Bhopal</p>
                        <p>Medical Colleges in Thane</p>
                    </div>
                    <div class="col-6">
                        <h4>Top BCA/BBA colleges</h4>
                        <p>BCA/BBA Colleges in Indore</p>
                        <p>BCA/BBA Colleges in Kerala</p>
                        <p>BCA/BBA Colleges in Allahabad</p>
                        <p>BCA/BBA Colleges in Noida</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-white text-center mb-4">All right reserved Pantheon Digital @2023 <span> Terms of use | Privacy Policy | Cookie Policy</span></p>
</div>
</div>


  <!-- Modal for Register -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content py-2 px-3">
        <div class="d-flex justify-content-end p-3">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <h1 class="modal-title fs-5 fw-bold text-center" id="exampleModalLabel">
          To apply for this college we need a few details from you
        </h1>
        <div class="modal-body">
          <form>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-user"></i
              ></span>
              <input
                type="text"
                class="form-control m-0 shadow-none rounded-end-2"
                placeholder="Full Name"
                aria-label="Full Name"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="d-lg-flex justify-content-start">
              <div class="input-group mb-3">
                <span class="input-group-text">+91 </span>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid fa-phone"></i
                ></span>
                <input
                  type="text"
                  class="form-control m-0 shadow-none rounded-end-2"
                  placeholder="Phone Number"
                  aria-label="Phone Number"
                  aria-describedby="basic-addon1"
                  maxlength="10"
                />
              </div>
              <div
                id="otp"
                class="inputs d-flex flex-row justify-content-center ms-3"
              >
                <input
                  class="mx-2 text-center form-control rounded shadow-none"
                  type="text"
                  id="first"
                  style="height: fit-content"
                  maxlength="1"
                />
                <input
                  class="mx-2 text-center form-control rounded shadow-none"
                  type="text"
                  id="second"
                  style="height: fit-content"
                  maxlength="1"
                />
                <input
                  class="mx-2 text-center form-control rounded shadow-none"
                  type="text"
                  id="third"
                  style="height: fit-content"
                  maxlength="1"
                />
                <input
                  class="mx-2 text-center form-control rounded shadow-none"
                  type="text"
                  id="fourth"
                  style="height: fit-content"
                  maxlength="1"
                />
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div></div>
              <div></div>
              <div class="text-muted">
                Verify OTP
                <span
                  ><i
                    class="fa-solid fa-circle-check"
                    style="color: #002f26"
                  ></i>
                  <i class="fa-solid fa-circle-xmark" style="color: #f50000"></i
                ></span>
              </div>
              <div><a href="#">Resend OTP</a></div>
            </div>
            <div>
              <div class="d-md-flex justify-content-between">
                <div class="input-group mb-2">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa-solid fa-envelope"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control m-0 shadow-none rounded-end-2"
                    placeholder="Email"
                    aria-label="Email"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="ms-5">
                  <button
                    type="button"
                    class="btn px-5 text-white"
                    style="background-color: #002f26"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-none d-lg-block" style="color: #002f26">
          <h3 class="text-center fs-5">
            How select my college is contributing in student’s higher education
            and managing budget for parents
          </h3>
          <div class="d-block container my-5 text-center">
            <div class="py-4" style="width: 100%">
              <div class="skBody">
                <div class="skSlider">
                  <div class="skSlide-track">
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk1.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk2.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>College with Budget friendly</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk3.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>College with good Placement</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk4.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Top rated Colleges</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk5.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Genuine Colleges</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk6.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk7.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk8.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Best College Near Home Location</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk1.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk8.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk1.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk2.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>College with Budget friendly</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk3.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>College with good Placement</p>
                    </div>
                    <div class="skSlide">
                      <img
                        src="<%= process.env.APP_URL %>image/sk4.svg"
                        height="100"
                        width="100"
                        alt=""
                      />
                      <p>Top rated Colleges</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>