<section class="ftco-intro py-5 bg-primary">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10">
        <div class="row g-lg-5">
          <div class="col-md-7 text-lg-right">
            <h2 class="mb-0">
              Newsletter - Stay tune and get the latest update
            </h2>
            <p>Far far away, behind the word mountains</p>
          </div>
          <div class="col-md-5 border-left d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex align-items-center">
                <input type="text" class="form-control" placeholder="Enter email address" />
                <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="ftco-footer">
  <div class="container-xl">
    <div class="row justify-content-between pb-5">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo d-flex">
            <a class="navbar-brand align-items-center" href="/">
              <img src="<%= process.env.APP_URL %>images/logo_2x.png" alt="Logo"
                style="max-height: 40px; width: auto" />
              <!-- Academia
                <span>Online Education &amp; Learning</span> -->
            </a>
          </h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map marker"></span><span class="text"> Saket, New Delhi, INDIA</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 9876543210</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text"><span class="__cf_email__"
                      data-cfemail="1871767e775861776d6a7c7775797176367b7775">selectmycollege@gmail.com</span></span></a>
              </li>
            </ul>
          </div>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa-brands fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Top Colleges</h2>
          <ul class="list-unstyled">
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>MBA</a></li>
            <li><a href="/colleges?course=B.Tech"><span class="ion ion-ios-arrow-round-forward me-2"></span>B.Tech/B.E</a>
            </li>
            <li><a href="/colleges?course=M.Tech"><span class="ion ion-ios-arrow-round-forward me-2"></span>M.Tech</a>
            </li>
            <li><a href="/colleges?course=BCA"><span class="ion ion-ios-arrow-round-forward me-2"></span>BCA/BBA</a></li>
            <li><a href="/colleges?course=MCA"><span class="ion ion-ios-arrow-round-forward me-2"></span>MCA</a></li>
            <li><a href="/colleges?course=MA"><span class="ion ion-ios-arrow-round-forward me-2"></span>MA</a></li>
            <li><a href="/colleges?course=BA"><span class="ion ion-ios-arrow-round-forward me-2"></span>BA</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Top Courses</h2>
          <ul class="list-unstyled">
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Engineering</a>
            </li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Management</a>
            </li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Medical</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Law</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Commerce</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Science</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>Arts</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Top Exams</h2>
          <ul class="list-unstyled">
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>IIT-JEE</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>NEET</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>GATE</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>CAT</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>CLAT</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>MAT</a></li>
            <li><a href="/colleges?course=MBA"><span class="ion ion-ios-arrow-round-forward me-2"></span>XAT</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Explore</h2>
          <ul class="list-unstyled">
            <li><a href="/about"><span class="ion ion-ios-arrow-round-forward me-2"></span>About Us</a></li>
            <li><a href="/contact"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact Us</a></li>
            <li><a href="/career"><span class="ion ion-ios-arrow-round-forward me-2"></span>Career</a></li>
            <li><a href="/blogs"><span class="ion ion-ios-arrow-round-forward me-2"></span>Blog</a></li>
            <li><a href="/privacy"><span class="ion ion-ios-arrow-round-forward me-2"></span>Privacy Policy</a></li>
            <li><a href="/terms"><span class="ion ion-ios-arrow-round-forward me-2"></span>Terms &amp; Conditions</a>
            </li>
            <li><a href="/feedback"><span class="ion ion-ios-arrow-round-forward me-2"></span>Feedbacks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 py-3 bg-darken">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0" style="font-size: 14px;">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> selectmycollege Web Pvt. Ltd. All Rights
            Reserved
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Register -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content py-2 px-3">
        <div class="d-flex justify-content-end p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 class="modal-title fs-5 fw-bold text-center" id="exampleModalLabel">
          To apply for this college we need a few details from you
        </h1>
        <div class="modal-body">
          <form>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
              <input type="text" class="form-control m-0 shadow-none rounded-end-2" placeholder="Full Name"
                aria-label="Full Name" aria-describedby="basic-addon1" />
            </div>
            <div class="d-lg-flex justify-content-start">
              <div class="input-group mb-3">
                <span class="input-group-text">+91 </span>
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                <input type="text" class="form-control m-0 shadow-none rounded-end-2" placeholder="Phone Number"
                  aria-label="Phone Number" aria-describedby="basic-addon1" maxlength="10" />
              </div>
              <div id="otp" class="inputs d-flex flex-row justify-content-center ms-3">
                <input class="mx-2 text-center form-control rounded shadow-none" type="text" id="first"
                  style="height: fit-content" maxlength="1" />
                <input class="mx-2 text-center form-control rounded shadow-none" type="text" id="second"
                  style="height: fit-content" maxlength="1" />
                <input class="mx-2 text-center form-control rounded shadow-none" type="text" id="third"
                  style="height: fit-content" maxlength="1" />
                <input class="mx-2 text-center form-control rounded shadow-none" type="text" id="fourth"
                  style="height: fit-content" maxlength="1" />
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div></div>
              <div></div>
              <div class="text-muted">
                Verify OTP
                <span><i class="fa-solid fa-circle-check" style="color: #002f26"></i>
                  <i class="fa-solid fa-circle-xmark" style="color: #f50000"></i></span>
              </div>
              <div><a href="#">Resend OTP</a></div>
            </div>
            <div>
              <div class="d-md-flex justify-content-between">
                <div class="input-group mb-2">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                  <input type="text" class="form-control m-0 shadow-none rounded-end-2" placeholder="Email"
                    aria-label="Email" aria-describedby="basic-addon1" />
                </div>
                <div class="ms-5">
                  <button type="button" class="btn px-5 text-white" style="background-color: #002f26">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-none d-lg-block" style="color: #002f26">
          <h3 class="text-center fs-5">
            How select my college is contributing in student’s higher education
            and managing budget for parents
          </h3>
          <div class="d-block container my-5 text-center">
            <div class="py-4" style="width: 100%">
              <div class="skBody">
                <div class="skSlider">
                  <div class="skSlide-track">
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk1.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk2.svg" height="100" width="100" alt="" />
                      <p>College with Budget friendly</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk3.svg" height="100" width="100" alt="" />
                      <p>College with good Placement</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk4.svg" height="100" width="100" alt="" />
                      <p>Top rated Colleges</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk5.svg" height="100" width="100" alt="" />
                      <p>Genuine Colleges</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk6.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk7.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk8.svg" height="100" width="100" alt="" />
                      <p>Best College Near Home Location</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk1.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk8.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk1.svg" height="100" width="100" alt="" />
                      <p>Free Councelling</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk2.svg" height="100" width="100" alt="" />
                      <p>College with Budget friendly</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk3.svg" height="100" width="100" alt="" />
                      <p>College with good Placement</p>
                    </div>
                    <div class="skSlide">
                      <img src="<%= process.env.APP_URL %>image/sk4.svg" height="100" width="100" alt="" />
                      <p>Top rated Colleges</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- <script src="<%= process.env.APP_URL %>nd/js/bootstrap.bundle.min.js"></script> -->
<script src="<%= process.env.APP_URL %>nd/js/tiny-slider.js"></script>
<script src="<%= process.env.APP_URL %>nd/js/glightbox.min.js"></script>
<script src="<%= process.env.APP_URL %>nd/js/aos.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="<%= process.env.APP_URL %>nd/js/google-map.js"></script>
<script src="<%= process.env.APP_URL %>nd/js/main.js"></script>
<script src="<%= process.env.APP_URL %>nd/js/script.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854"
  integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg=="
  data-cf-beacon='{"rayId":"8150e1d6cb13f439","version":"2023.8.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}'
  crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>