<%- include('head') %>

  <section id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% for (var i=0; i < banners.length; i++) { %>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= i %>" <% if (i===0) {
          %>class="active" aria-current="true" <% } %> aria-label="Slide <%= i + 1 %>"></button>
        <% } %>
    </div>
    <div class="carousel-inner">
      <% banners.forEach(function(banner, index) { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="10000"
          style="max-height: 90vh;">
          <img src="<%= process.env.APP_URL %><%= banner.image %>" class="d-block w-100" alt="Banner <%= index + 1 %>">
          <div class="carousel-caption d-none d-md-block">
            <p class="h3 text-white">
              <%= banner.caption %>
            </p>
          </div>
        </div>
        <% }); %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>


  <!-- <section id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" style="max-height: 90vh;">
        <img src="https://cle.iitb.ac.in/wp-content/uploads/2021/10/IIT-Mumbai-1.jpg" class="d-block w-100"
          alt="image_1">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="max-height: 90vh;">
        <img src="<%= process.env.APP_URL %>nd/images/bg_1.jpg" class="d-block w-100" alt="image_2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="max-height: 90vh;">
        <img src="https://th.bing.com/th/id/OIP.NzbrmliGthCQ5EF4hS78DQHaDe?w=317&h=164&c=7&r=0&o=5&dpr=1.5&pid=1.7"
          class="d-block w-100" alt="image_3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section> -->

  <section class="ftco-section">
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Colleges</span>
          <h2 class="mb-4">Find Best Colleges around India</h2>
        </div>
      </div>
      <div class="row g-lg-2 justify-content-center">
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <a href="/topclg?city=Delhi" class="services-2">
            <div class="icon"><span class="flaticon-design"></span></div>
            <div class="text">
              <h2>Delhi</h2>
              <span>
                <%= collegeCounts["Delhi"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <a href="/topclg?city=Bangalore" class="services-2">
            <div class="icon"><span class="flaticon-paint-palette"></span></div>
            <div class="text">
              <h2>Bangalore</h2>
              <span>
                <%= collegeCounts["Bangalore"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300"
          data-aos-duration="1000">
          <a href="/topclg?city=Hyderabad" class="services-2">
            <div class="icon"><span class="flaticon-computer-science"></span></div>
            <div class="text">
              <h2>Hyderabad</h2>
              <span>
                <%= collegeCounts["Hyderabad"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Mumbai" class="services-2">
            <div class="icon"><span class="flaticon-magnifying-glass"></span></div>
            <div class="text">
              <h2>Mumbai</h2>
              <span>
                <%= collegeCounts["Mumbai"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Pune" class="services-2">
            <div class="icon"><span class="flaticon-engineer"></span></div>
            <div class="text">
              <h2>Pune</h2>
              <span>
                <%= collegeCounts["Pune"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Chennai" class="services-2">
            <div class="icon"><span class="flaticon-algorithm"></span></div>
            <div class="text">
              <h2>Chennai</h2>
              <span>
                <%= collegeCounts["Chennai"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <a href="/topclg?city=Kolkata" class="services-2">
            <div class="icon"><span class="flaticon-dumbbell"></span></div>
            <div class="text">
              <h2>Kolkata</h2>
              <span>
                <%= collegeCounts["Kolkata"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <a href="/topclg?city=Gurgaon" class="services-2">
            <div class="icon"><span class="flaticon-bullhorn"></span></div>
            <div class="text">
              <h2>Gurgaon</h2>
              <span>
                <%= collegeCounts["Gurgaon"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300"
          data-aos-duration="1000">
          <a href="/topclg?city=Jaipur" class="services-2">
            <div class="icon"><span class="flaticon-vector"></span></div>
            <div class="text">
              <h2>Jaipur</h2>
              <span>
                <%= collegeCounts["Jaipur"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Noida" class="services-2">
            <div class="icon"><span class="flaticon-musical-notes"></span></div>
            <div class="text">
              <h2>Noida</h2>
              <span>
                <%= collegeCounts["Noida"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Meerut" class="services-2">
            <div class="icon"><span class="flaticon-calendar-1"></span></div>
            <div class="text">
              <h2>Meerut</h2>
              <span>
                <%= collegeCounts["Meerut"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400"
          data-aos-duration="1000">
          <a href="/topclg?city=Bhopal" class="services-2">
            <div class="icon"><span class="flaticon-coding"></span></div>
            <div class="text">
              <h2>Bhopal</h2>
              <span>
                <%= collegeCounts["Bhopal"]||0 %> Colleges
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section courses-section pt-0">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-10 text center heading-section" data-aos="fade-up">
          <span class="subheading text-center">Our Colleges</span>
          <h2 class="mb-5 text-center">Top Colleges from Our Recommendation</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="carousel-courses">
            <% colleges.slice(0, 5).forEach((college)=> { %>
              <div class="item">
                <a href="/view/<%= college._id %>">
                  <div class="courses">
                    <div class="d-flex">
                      <div class="icon"><img src="<%= college.clgLogo %>" alt="college Icon"
                          class="icon bg-transparent">
                      </div>
                      <div class="text">
                        <h6>
                          <%= college.name %>
                        </h6>
                        <p class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span>(5.0)</span>
                        </p>
                      </div>
                    </div>
                </a>
                <div class="text-center mt-1">
                  <a href="<%= college.link %>" class="btn d-block btn-primary btn-outline-primary py-3">Enroll
                    Now!</a>
                </div>
              </div>
          </div>
          <% }); %>
        </div>
      </div>
  </section>

  <section class="register">
    <div class="container-fluid">
      <div class="row row-eq-height" style="    background: linear-gradient(271deg, #ececec 49%, transparent 20%),url(https://images.unsplash.com/photo-1523050854058-8df90110c9f1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover; background-repeat: no-repeat;">
        <div class="col-md-6 d-sm-none d-md-block bg-transparent nopadding">
        </div>
        <div class="col-md-6 col-sm-12 nopadding">
          <div class="search_section d-flex flex-column align-items-center justify-content-center">
            <div class="px-5 text-center">
              <h1 class="search_title">Search for your course</h1>
              <form id="search_form" action="/admin/leads" method="POST">

                <div class="form-group w-100 fs-4">
                  <label for="feeRange" class="d-flex align-items-start text-black fs-6">Fee: Rs.<span id="fee">250000</span>
                    - 500000</label>
                  <input type="range" step="5000" max="500000" value="200000" class="sliderRange input_field"
                    id="feeRange" oninput="updateRangeBackground(this)" />
                </div>

                <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Name"
                  required="required" data-error="Course name is required.">
                <input id="search_form_category" class="input_field search_form_category" type="text"
                  placeholder="Contact Number">
                <input id="search_form_degree" class="input_field search_form_degree" type="text"
                  placeholder="Course Name">
                <input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Email">
                <button id="search_submit_button" type="submit" class="search_submit_button trans_200"
                  value="Submit">search course</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Testimonial</span>
          <h2 class="mb-5">Our Successful Students</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="carousel-testimony">
            <% testimonials.forEach(function(testimonial) { %>
              <div class="item">
                <div class="testimony-wrap">
                  <div class="text">
                    <div class="d-flex align-items-center mb-4">
                      <div class="user-img"
                        style="background-image: url('<%=process.env.APP_URL%><%= testimonial.profileImage %>')">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                            class="fa fa-quote-left"></span></div>
                      </div>
                      <div class="ps-3 tx">
                        <p class="name">
                          <%= testimonial.name %>
                        </p>
                        <span class="position">
                          <%= testimonial.position %>
                        </span>
                      </div>
                    </div>
                    <p class="mb-4 msg">
                      <%= testimonial.message %>
                    </p>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftco-no-pt">
    <div class="container-xl">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Our Blog</span>
          <h2>Recent From Blog</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <% latestBlogs.slice(0, 3).forEach((blog)=> { %>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000"
              data-aos-delay="100">
              <a href="<%= blog.link %>" class="block-20 img"
                style="background-image: url('<%= process.env.APP_URL %><%= blog.image %>');">
              </a>
              <div class="text">
                <% const blogDate=new Date(blog.updatedAt); %>
                  <p class="meta">
                    <span><i class="fa fa-user me-1"></i>
                      <%= blog.author %>
                    </span>
                    <span><i class="fa fa-calendar me-1"></i>
                      <%= blogDate.toLocaleString('default', { month: 'short' }) + '. ' + blogDate.getDate() + ', ' +
                        blogDate.getFullYear() %>
                    </span>
                  </p>
                  <h3 class="heading mb-3"><a href="<%= blog.link %>">
                      <%= blog.title %>
                    </a></h3>
                  <p>
                    <%= blog.description %>
                  </p>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </section>

  <%- include('foot') %>